{%extends 'base.html'%}

{%block head%}
<title>Home Page</title>
{%endblock%}

{%block body%}<br>
<h1>hi</h1><br>
<main>
    <div>
        <div class="bg-light p-5 rounded">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome</h1>
                <p>Welcome to the script programmer blog here we are going to learn web developement and cs stuff.</p>
                <p>At <a href="/docs/5.0/examples/navbar-static/">top</a>the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to
                    toggle the collapsed content.</p>
                <p>
                    <a class="btn btn-primary" href="/post" role="button">Go To Post&raquo;</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</main>

{%endblock%}