{%extends 'base.html'%}

{%block head%}
<title>Blog-Posts</title>
{%endblock%}


{%block body%}
<br>
<div>
    <h1 style="display: inline; ">Blogs</h1>
    <a style="float: right; "  class="btn btn-success " href="/post/new">+New Post</a>
</div>
<hr>
<br>
    {%for post in posts%}
        <h2>{{ post.title }}</h2>
        {%if post.author%}
            <small>Written By {{post.author}} On {{post.date_posted}}</small>
        {%else%}
            <small>Written By Unknown On {{post.date_posted}}</small>
{%endif%}
<br>
<br>
<p style="white-space: pre-wrap;">{{post.content}}</p>
<a class="btn btn-danger" href='/post/delete/{{post.id}}'>Delete</a>
<a class="btn btn-primary" href='/post/edit/{{post.id}}'>Edit</a>
<br>
<hr>
{%endfor%}
{%endblock%}